<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VendorSlaPerformanceTrackerSuite" verbose="1">
    <listeners>
        <listener class-name="com.example.demo.TestResultListener"/>
    </listeners>

    <test name="ServletTests">
        <classes>
            <class name="com.example.demo.ServletTests"/>
        </classes>
    </test>

    <test name="VendorCrudTests">
        <classes>
            <class name="com.example.demo.VendorCrudTests"/>
        </classes>
    </test>

    <test name="SLARequirementCrudTests">
        <classes>
            <class name="com.example.demo.SLARequirementCrudTests"/>
        </classes>
    </test>

    <test name="DeliveryEvaluationTests">
        <classes>
            <class name="com.example.demo.DeliveryEvaluationTests"/>
        </classes>
    </test>

    <test name="VendorPerformanceScoreTests">
        <classes>
            <class name="com.example.demo.VendorPerformanceScoreTests"/>
        </classes>
    </test>

    <test name="VendorTierTests">
        <classes>
            <class name="com.example.demo.VendorTierTests"/>
        </classes>
    </test>

    <test name="JWTTests">
        <classes>
            <class name="com.example.demo.JWTTests"/>
        </classes>
    </test>

    <test name="HibernateJPAValidationTests">
        <classes>
            <class name="com.example.demo.HibernateJPAValidationTests"/>
        </classes>
    </test>
</suite>
